#table {
	display: flex;
	width: 900px;
	min-height: 500px;
	border: 1px solid #ccc;
}
.col {
	flex-basis: 300px;
}
.col:not(:last-child) {
	border-right: 1px solid #ccc;
}
.col > div {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 3px;
}
.done {
	text-decoration: line-through;
	color: #999;
}
label {
	width: 86%;
	height: 100%;
	display: inline-block;
	padding: 6px;
	cursor: pointer;
}
input {
	width: 20px;
	height: 20px;
	float: left;
}